.submit {
    margin-top: 5px;
}

#resultado {
    font-size: 7vh;
    font-weight: bold;
    text-align: center;
    overflow-x: auto;
}
h5 {
    font-weight: 600 !important;
    text-align: center;
}
#top {
	background-color: var(--bs-blue);
	font-weight: bold;
	padding: 5px;
    text-align: center;
}
#brr {
    float: right;
}